#section7{
    background-color: #FFF;
    padding: 5rem 2rem;
}

.section7-container, .sub1, .sub2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section7-content img {
    width: 200px;
    height: 150px; 
    object-fit: contain; 
}

.section7-picture img{
    width: 400px;
    max-width: 100%;
    height: auto;
}

.section7-content{
    width: 300px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Karla", serif;
    text-align: center;
}

.section7-content h2{
    font-family: "Playfair", serif;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}

@media (max-width: 999px) {
    .section7-container{
        flex-direction: column-reverse;
    }
}

@media (max-width: 359px) {
    .section7-content{
        width: 250px;
    }
}

@media (max-width: 493px) {
    #section7{
        padding-top: 0;
    }
}